<div class="home">

  <h1>TerMap</h1>

  <p>Cherchez les gares les mieux connectées à une métropole</p>

  <%= form_tag(search_cities_path, method: "get") do %>
    <%= text_field_tag :city, "", placeholder: "Rentrez une ville" %>
  <% end %>

  <div class="cities-card">
    <%= link_to city_path("nantes"), class: 'city-card city-card--nantes'  do %>
      Nantes
    <% end %>


    <%= link_to city_path("lyon"), class: 'city-card city-card--lyon'  do %>
      Lyon
    <% end %>


    <%= link_to city_path("toulouse"), class: 'city-card city-card--toulouse'  do %>
      Toulouse
    <% end %>
  </div>

</div>


