<div class="home">

  <p>Cherchez les gares les mieux connectées à une métropole</p>

  <div class="cities-card">
    <%= link_to city_path("nantes"), class: 'city-card city-card--nantes'  do %>
      Nantes
    <% end %>


    <%= link_to city_path("lyon"), class: 'city-card city-card--lyon'  do %>
      Lyon
    <% end %>


    <%= link_to city_path("toulouse"), class: 'city-card city-card--toulouse'  do %>
      Toulouse
    <% end %>
  </div>



  autre ville?
  <br>
  <br>
  <%= form_tag(search_cities_path, method: "get") do %>
    <%= text_field_tag :city %>
  <% end %>
</div>


